@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

:colorVars {
    --cursorColor: 'rgb(100,100,100)'
}


/* Defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'poppins';
    box-sizing: border-box;

}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: transparent;
}

section {
    width: 100%;
    padding: 1rem;
    font-size: 20px;
    margin-bottom: 70vh;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15%;
    box-shadow: 0px 0px 50px 70px rgba(0, 0, 0, 0.8)
}

.column-item{
  transition: 0.3s;
  background-color: rgba(255, 255, 255, .97);
  color:black;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);

  padding:2rem;
  margin-top:30vh;
  margin-bottom: 30vh;

}

.column-item:hover{
  cursor: pointer;
  transition: 0.3s;
  background-color: white;
  color:black;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 5px var(--cursorColor);
  padding:2rem;


}

.left-column-item {
  transition: 2s;
  grid-column: 2/span 3;

  
}

.middle-column-item {
  grid-column: 6/span 2;
}

.right-column-item {
  grid-column: 9/span 3;
}

.large-left-column-item {
  grid-column: 2/span 4;
}

.large-right-column-item {
  grid-column: 7/span 5;
}

/* .info3 {
    grid-column: 2/span 4
} */

*::-webkit-scrollbar {
    display: none;
}

h1 {
    letter-spacing: .25rem;
    font-size: 90px;
}


h2 {
    padding-bottom: 1rem;
    font-size: 32px;
}

/* h4 {
    color: white;
    font-size: 1.5rem;
} */


/* Images */
/* .cropper {
    width: 408px;
    height: 408px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.frame {

    overflow: hidden;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 3%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.32);

}

#portrait {
    width: 100%;
} */



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}